# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# SQLite database files
*.sqlite3

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment
.env
venv/
.env.*

# VSCode settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
