{% extends 'base.html' %}
{% load static %}

{% block csrf_token %}
{% csrf_token %}
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.css">


<link rel="stylesheet" href="{% static 'css/chat.css' %}" type="text/css" />

<link rel="stylesheet" href="{% static 'css/editor-config.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/editor.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/chat-selector.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/form-controls.css' %}" type="text/css" />




<script src="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.js"></script>
{% endblock %}


{% block content %}
<div class="game-container">
	<div id="drawflow"></div>
</div>
<div class="control-panel">
	<button class="system-button save-btn" id="save-btn">Save</button>
	<button class="system-button add-node-btn" id="add-node-btn">Add Node</button>
	<div class="node-selected-panel">
		<button id="add-output">+</button>
		<button id="remove-output">-</button>
	</div>

</div>









<div class="chat-container">

	<div class="nav-container">
		<button class="system-button wheat chat-menu-btn"><img class="system-icon" src="{% static 'icons/menu.svg' %}"></button>

		<img class="message-avatar chat-icon" src="{% static 'images/chat_avatars/pedrada.png' %}" alt="avatar">
		<div class="chat-header-col">
			<p class="chat-header">Пед.рада школи №31</p>
			<p class="chat-status">5 online</p>
		</div>

	</div>

	<div class="messages" id="chatNodeId">

	</div>


	<div class="flex-group">
		<div class="flex-panel">
			<select name="sender-character" id="senderCharacter">
				{% for character in characters %}
				<option value="{{ character.0 }}">@{{ character.0 }}, {{ character.1 }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="flex-panel">
			<input type="date" value="2021-12-10" id="dateWasWritten">
			<input type="time" value="08:00" id="timeWasWritten">
			<input type="number" value="0" min="0" max="59" id="timeSWasWritten">
			<input type="number" value="0" min="0" max="99" id="timeMsWasWritten">
		</div>
		<div class="flex-panel">
			<input type="text" id="messageText" placeholder="Message...">
			<button class="system-button" id="sendNewMessageBtn"><img class="system-icon" src="{% static 'icons/send.svg' %}"></button>
		</div>
	</div>

</div>

<script>

	let chatId = "{{ chat_id }}";
	let chatStructureData = JSON.parse(`{{ chat_structure|safe }}`);

	let changedData = {
		"deletedNodes": [],
		"deletedConnections": [],
	};

	let messagesInNodes = JSON.parse(`{{ messagesInNodes|safe }}`);
	let charactersInfo = JSON.parse(`{{ characters_JSON|safe }}`);

</script>
{% endblock %}









{% block page_scripts %}
<script src="{% static 'js/editor.js' %}" type="text/javascript"></script>
{% endblock %}