#content {
    background-color: #2125294f;
    min-height: 75vh;
}

.page-content {
    justify-content: center;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: auto;
    min-width: 350px;
    width: 45%;
    height: 20%;
    box-shadow: 1px solid gray;
}

.form-group {
    padding-bottom: 24px;
}



.input-group-prepend span {
    width: 48px;
    /* background-color: rgb(46, 119, 179); */
    color: white;
    /* border: 0 !important; */
}


.input_text {
    width: 100%;

    height: 33px;
    /* border: 1px solid gray; */
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.input-group-text {
    height: 33px;

}

.login_btn {
    color: black;
    /* background-color: rgb(46, 119, 179); */
    align-items: center;
    width: 30%;
}

.remember {
    padding-left: 5%;

    /* margin-right: 20px;
   
    color: rgb(219, 219, 219); */
}


.login_btn:hover {
    color: black;
    background-color: white;
}

.card-body {
    box-sizing: content-box;
}

.error-message {
    color: rgb(235, 155, 64);
}